/* Arquivo de estilizacao do */


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    background-image: url(../img/fundo-topo.jpg);
    padding: 10px 0;
}

header h1{
    margin: 0;
    height: 84px;
}

nav{
    padding: 15px 0;
    text-align: center;
}

nav li{
    display: inline;
    background-image: url(../img/patinha-preta.png);
    background-repeat: no-repeat;
    padding-right: 27px;
    margin-right: 10px;
    background-position: center right;
    
}

nav a{
    text-decoration: none;
    color: #000;
    
}

nav a:hover{
    color: #6dd432;
}

#itemContato{
    background-image: none;
    margin-right: 0;
    padding: 0;
}

.fundo-verde{
    background-color: #bdff9c;
    width: 100%;
}

.container{
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.flex-container .col{
    width: 430px;

}

.texto-centralizado{
    text-align: center;
}

.produto{
    width: 235px;
}

.produto figure{
    border: 1px solid #c4c4c4;
    background-color: #fff;
    margin: 0 0 15px 0;
    text-align: center;
    height: 160px;
    line-height: 160px;
}

.produto figure img{
    vertical-align: middle;
}

.btn-pata{
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    text-decoration: #000;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
}

#produto .flex-container{
    margin-top: 43px;
}

form{
    width: 380px;
}

form input,
form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}


iframe {
    width: 100%;
}




footer li{
    display: inline;
    margin-right: 10px;
    background-position: center right;
    
    
}

footer li img{
    width: 30px;
    
}


@media screen and (max-width: 580px) {
    .flex-container{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .container{
        width: 100%;
        margin: 0 auto;
        padding: 56px 0;
    }

    .fundo-verde{
        background-color: #bdff9c;
        width: 580px;
    }
    header{
        text-align: center;
        background-image: url(../img/fundo-topo.jpg);
        padding: 10px 0;
        
    }

    .flex-container .col{
        width: 90%;
        text-align: center;
        margin-left: 40px ;
    }


    #produto .flex-container{
        align-items: center;
    }
    
    .produto{
        text-align: center;
        margin-top: 10px;
    }

    .flex-container .col form{
        align-items: center;
        margin-left: 30px;

    }

    .flex-container .col iframe{
        width: 500px;
        border-radius: 20px;
    }

    .formasdepagamento{
        margin-left: 120px;
    }

    

    nav li{
        flex-direction: column;
        display: flex;
        margin-left: 150px;
        border: 1px solid;
        width: 300px;
        margin-bottom: 10px;
        border-radius: 4px;       
        
    }

    

    #itemContato{
        
        margin-right: 0;
        padding: 0;
        background-image: url(../img/patinha-preta.png);
        background-repeat: no-repeat;
        padding-right: 27px;
        margin-right: 10px;
        
    }

    nav a:hover{
        color: #6dd432;
        transform: scale(1.05);
        transition: 1s;
    }


    .texto-centralizado{
        width: 500px;
        margin-left: 10px;
    }

    

}